MONGO_USER=
MONGO_PASS=
MONGO_PORT=
MONGO_DB_NAME=
MONGO_URL=mongodb://${MONGO_USER}:${MONGO_PASS}@localhost:${MONGO_PORT}/?authSource=admin
MONGO_MIGRATION_URL=mongodb://${MONGO_USER}:${MONGO_PASS}@localhost:${MONGO_PORT}/${MONGO_DB_NAME}?authSource=admin&x-migrations-collection=schema_migrations
